<div class="center jumbotron">
<h1>Welcome to Metahash</h1>

<% if user_signed_in? %>
	<%= link_to "Log Out", destroy_user_session_path, :method => :delete %>
<% else %>
	<a href="/users/sign_in">Login</a>
	<%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %>
<% end %>
<h2>
</h2>
</div>

