<div class="center jumbotron">
<h1>Welcome to Metahash</h1>
<% if logged_in? %>
  <%= link_to "Logout", logout_path, method: :delete %>
<% else %>
  <%= link_to "Login", sessions_new_path ,{:class=>"button-small white"} %>
<% end %>
</div>

