
<div class="center jumbotron">
	<h1>All Topics</h1>
	<% provide(:title, 'All Topics') %>

	<% if logged_in? %>
  		<%= link_to "Logout", logout_path, method: :delete %>
	<% else %>
  		<%= link_to "Login", sessions_new_path ,{:class=>"button-small white"} %>
	<% end %> 
</div>



<ul class="users content-float">
  <% @topics.each do |topic| %>
  <li>
    <%= link_to topic.title, topic %>
  </li>
  <% end %>
</ul>

