<section class="post_info" id="topic-<%= topic.id %>">
    <h1>
      <%= topic.title %>
      <br>
    </h1>

    <h2>
     <%= topic.summary%>
      <br>
      <br>

      <%=topic.trending_reason %>
      <br>
      <br>

    </h2>

  </section>
</div>