@import "bootstrap-sprockets";
@import "bootstrap";

$gray-medium-light: #eaeaea;
$upvote-color: #FF4500;
$downvote-color: #5F99CF;
$none-color: #D3D3D3;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@mixin section_sizing {
  padding: 10px 0;
  margin-top: 20px;
  &:first-child {
    border: 0;
    padding-top: 0;
  }
  .karma {
    font-weight: bold;
  }
  h1, h2, h3 {
    text-align: left;
    letter-spacing: -1px;
    margin-bottom: 3px;
    margin-top: 0px;
  }
  h1 {
    font-size: 1.4em;
  }
  h2 {
    font-size: 1.1em;
  }
  h3 {
    font-size: 1.0em;
  }
}

/* mixins, variables, etc. */

$gray-medium-light: #FFEB3B;

$special-blue: rgb(14,41,69);
$special-white: rgb(196,200,186);

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@font-face {
  font-family: ElegantLux;
  src:
    url(ElegantLux-Mager.otf)
 }

 /* header */

 .jumbotron {
    background-color: $special-blue;
    color: $special-white;
 }

 .header-title {
  font-family:ElegantLux;
  font-size: 7em;
  letter-spacing: -2px;
  margin-bottom: 60px;
  text-align: center;
}

 .button {
    display: inline-block;
    padding: 1em;
    background-color: transparent;
    text-decoration: none;
    text-align:center;
    font-family: ElegantLux;
    color: $special-white;
    border:$special-white;
    border-style: solid;
    border-width: 1px;
    width:250px;
}

.grow {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  color: $special-white;
  background-color: transparent;
  text-decoration: none;
}
.grow:hover, .grow:focus, .grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  background-color: transparent;
  color: $special-white;
  text-decoration: none;
}

/* universal */

html {
  overflow-y: scroll;
}


body {
  padding-top: 60px;
  background-color:#B0BEC5;
  background-color: #607D8B;

}

section {
  overflow: auto;
  box-shadow: 0px 3px 5px gray;
}

textarea {
  color: black;
  resize: vertical;
  border: 1px solid #DDD;
  border-radius: 5px;
  color: $special-white;
  outline: none;
  height:25px;
  width: 275px;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-family:ElegantLux;
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {

  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #EF6C00;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.navbar {
  background-color: $special-blue;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding: 10px;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
  border: 1px solid #DDD;
  border-radius: 5px;
  box-shadow: 0 0 5px #DDD inset;
  color: #666;
  outline: none;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.seeds.follow {
  padding: 0;
}


/* forms */

input, textarea, select, .uneditable-input {
  -webkit-box-shadow:0 0 0px;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* table */

.table {
  .left {
    float: left;
    width:60%;

    padding-top: 20px;
    margin-top: 20px;
    box-shadow: 0px 3px 5px gray;
    border-radius: 5px;
    padding-bottom: 30px;
  }
  .right {
    float: right;
    width: 38%;

    padding-top: 20px;
    margin-top: 20px;
    box-shadow: 0px 3px 5px gray;
    border-radius: 5px;
    padding-bottom: 30px;
  }
  .row {
    width: 100%;
  }
}

/* posts */

.content-float {
  margin-top: 20px;
  background-color:#FAFAFA;
  border-radius: 5px;
}

.post-item {
  padding: 20px 0px;
  .col {
    padding-left: 0px;
  }
  .vote-btn {
    padding-left: 0px;
    background-color:#FAFAFA;
    margin: 0px;
    size: 20px;
    border: 0px;
  }
  .left{

  }
  .middle{
    padding-left: 11px;

  }
  .right{
    width: 100%;
  }
}

.posts {
  list-style: none;
  padding: 0px;
  li {
    padding: 10px 0px;
    /* border-top: 1px solid #e8e8e8; */
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-left:10px;
    margin-right: 10px;
    margin-top: -5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* submissions */

section.submissions {
  @include section_sizing;
  padding-left: 0px;

  section.post_info {
    margin-top: 0px !important;
    margin-bottom: 10px;
    padding: 10px 5px 5px 10px;
    border: 1px solid gray;
    border-radius: 5px;
  }
}

section.votes {
  float: left;
  padding: 5px 5px 1px 2px;
  margin-top: 0px !important;

  a:link, a:visited {
    color: $none-color;
    text-decoration: none;
  }

  a:link.upvoted, a:visited.downvoted {
    color: $upvote-color;
  }

  a:link.downvoted, a:visited.downvoted {
    color: $downvote-color;
  }

  a:hover {
    color: $gray-medium-light;
    text-decoration: none;
  }

  a:active {
    color: $none-color;
    text-decoration: none;
  }
}
