 <div id="wrapper">
    <div id="sidebar-wrapper">

      <ul class="sidebar-nav">

        <li class="sidebar-brand">
          <a href="#" id="Trending-Banner">   </a>
        </li>
        <%-#load_trends is in static pages helper %>
        <% Trend.last(10).each do |trend| %>
           <li><%= link_to trend.title, trend %></li>
        <% end %>

      </ul>
  </div>

</div>

    <script src="assets/javascripts/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>

    $("#menu-toggle").click(function(e) 
    {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    
    </script>