 <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Trending
                    </a>
                </li>
                <li>
                    <a href="#">#Football</a>
                </li>
                <li>
                    <a href="#">#Live</a>
                </li>
                <li>
                    <a href="#">#NEvsBA</a>
                </li>
                <li>
                    <a href="#">#FunFil</a>
                </li>
                <li>
                    <a href="#">#Dope</a>
                </li>

                <li>
                    <a href="#">#Apple</a>
                </li>
                
            </ul>
        </div>
</div>


 
    <script src="assets/javascripts/jquery.js"></script>

  
    <script src="js/bootstrap.min.js"></script>

  
    <script>
    $("#menu-toggle").click(function(e) 
    {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>